.animated.delay1{
    animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.animated.delay2{
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.animated.delay3{
    animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}
.animated.delay4{
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.animated.delay5{
    animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}
.animated.delay6{
     animation-delay: 6s;
     -moz-animation-delay: 6s;
     -o-animation-delay: 6s;
     -webkit-animation-delay: 6s;
 }
.animated.delay7{
    animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    -webkit-animation-delay: 7s;
}
.animated.delay8{
    animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    -webkit-animation-delay: 8s;
}