.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes flip {
    from {
        opacity: 0;

        -webkit-transform: perspective(1000px) rotate3d(-0.5, .5, 0, -180deg);
        -moz-transform: perspective(1000px) rotate3d(-0.5, .5, 0, -180deg);
        -ms-transform: perspective(1000px) rotate3d(-0.5, .5, 0, -180deg);
        -o-transform: perspective(1000px) rotate3d(-0.5, .5, 0, -180deg);
        transform: perspective(1000px) rotate3d(-0.5, .5, 0, -180deg);

        -webkit-transform-origin:  50% 50%;
        -moz-transform-origin:  50% 50%;
        -ms-transform-origin:  50% 50%;
        transform-origin: 50% 50%;

        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        animation-timing-function: ease-out;
        backface-visibility: visible;

    }
    to {
        -webkit-transform: perspective(1000px) rotate3d(0, 0, 0, 0deg);
        -moz-transform: perspective(1000px) rotate3d(0, 0, 0, 0deg);
        -ms-transform: perspective(1000px) rotate3d(0, 0, 0, 0deg);
        -o-transform: perspective(1000px) rotate3d(0, 0, 0, 0deg);
        transform: perspective(1000px) rotate3d(0, 0, 0, 0deg);

        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;

        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        -o-animation-timing-function: ease-in;
        animation-timing-function: ease-in;

        backface-visibility: visible;

        opacity: 1;
    }
}

.animated.flip{
    animation-name: flip;
    -webkit-animation-name: flip;
    -moz-animation-name: flip;
    -o-animation-name: flip;
}
.swiper-slide-active .animated{
    opacity: 0;
}
.SHANGHAI .shanghai .animated{/*copy it*/
    animation-name: flip;
    -webkit-animation-name: flip;
    -moz-animation-name: flip;
    -o-animation-name: flip;
}
.GUANGZHOU .guangzhou .animated{/*copy it*/
    animation-name: flip;
    -webkit-animation-name: flip;
    -moz-animation-name: flip;
    -o-animation-name: flip;
}
.BEIJING .beijing .animated{/*copy it*/
    animation-name: flip;
    -webkit-animation-name: flip;
    -moz-animation-name: flip;
    -o-animation-name: flip;
}
.HONGKONG .hongkong .animated{/*copy it*/
    animation-name: flip;
    -webkit-animation-name: flip;
    -moz-animation-name: flip;
    -o-animation-name: flip;
}
