
html,body{
    font-family:YRThreeBold,YRThreeBlack,YRThreeLight, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    min-height: 576px;
    height: 100%;
    overflow-x: hidden;
    /*background-color: #000;*/
    background-color: rgb(9,161,215);
}
p,h1,h2,h3{
    margin: 0;
    padding: 0;
}
ul,li{
    padding:0;
    margin:0 2%;
    list-style:none;
    font-family: YRThreeLight;
}
a, a:hover,a:link,a:visited{
    text-decoration: none;
}
.floats1,.floats,.close,.closePeoples,.closePeople,#page4_block2,#page4_block3,#page4_block4,#page4_block5,#page4_block6,.people{
    cursor: pointer;
}
::-webkit-scrollbar-thumb {

    background-color: rgba(255,255,255,.4);
}
::-webkit-scrollbar {

    background-color: transparent;
}
.close{
    position: fixed;
    top: 1%;
    right: 2%;
    width: 2% !important;
}
nav{
    min-width: 1010px;
    height: 45px;
    width: 100%;
    position: fixed;
    background-color: rgba(9,161,215,.8);
    z-index: 10000;
    font-size:14px;
    color:#fff;
}
nav h1{
    background-image: url('http://7q59ds.com1.z0.glb.clouddn.com/qtouchtest/yr/assets3/img/page1/h1.png');
    background-repeat: no-repeat;
    margin-left: 2%;
    height: 100%;
    float: left;
    background-size: 50%;
    min-width: 250px;
    background-position: left;
}
nav ul{
    float:right;
}
nav li{
    float:left;
    line-height:50px;

}
ul.en li{
    margin:0 5px;
}
ul.cn li{
    margin:0 18px;
}
li.cut{
    margin: 0 2px !important;
    color: rgb(208,18,121);

}
nav li a{
    font-size: 12px;
    color:#fff;
}
.wrap{
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
}
.page{
    width: 100%;
    position: relative;
}
.page img.bg,.swiper-slide .bg{
    width:100%;
}
.page .container{
    position: absolute;
}

.page .container img{
    position: absolute;
}
#page1 .container{
    width:60%;
    /*height: 63.7%;*/
    height: 100%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    top: -4.2%;
    left: 35.9%;
    z-index: 1;
}
#page1_block1{
    width: 69.6%;
}
#page1_block2{
    width: 27.1%;
    left: 69.4%;
    top: 40.7%;
}
#page1_block3{
    width: 32%;
    top: 66.7%;
    left: 37.6%;
}
div#page2{
    z-index: 10;
}
ul.checks{
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    bottom: 6%;
    right: 0;
    width: 20%;
    z-index: 10000;
}
ul.checks li{
    cursor: pointer;
    padding: 2%;text-align: right;
}
ul.checks .check{
    display:inline-block ;
    margin: 0 0 -2px 5%;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #ffffff;
}
ul.checks .selected{
    color:rgb(208,18,121);
}
ul.checks .selected div {
    border: 1px solid rgb(208,18,121) !important;
    background-color: rgb(208,18,121);
}

.swiper-containerH{
    display: block;
    margin: auto;
    position: absolute;
    top: -12%;
    left: -38%;
    bottom: 0;
    right: 0;
    width: 50%;
    overflow: hidden;
    z-index: 10000;
}

.swiper-pagination-bullet-active{
    color: #fff !important;
    /*background: rgb(9,161,215) !important;*/
    background: #808080 !important;

}
/*.blue .swiper-pagination-bullet-active{*/
    /*color: #fff !important;*/
    /*background: rgb(208,18,121) !important;*/
/*}*/


.swiper-container {
    width: 100%;
    z-index: initial !important;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0,0,0,0);
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*.swiper-slide img{*/
    /*width: 75%;*/
/*}*/
.wrapH .swiper-slide li img{
    width: 82% !important;
}
.swiper-slide .container{
    position: absolute;
    top: 58%;
    left: 2%;
    width: 35%;
    height: 56%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;

}

.swiper-slide .container img{
    position: absolute;
}
#swiper1_block1{
    width:100%;
    top: 1.6%;
    left: 1.9%;
}
#swiper2_block1,#swiper3_block1{
    width:100%;
    /*height: 100%;*/
    top: 1.3%;
    left: 2%;
}
#swiper4_block1{
    width:100%;
    top: 1.5%;
    left: 1.9%;
}
#swiper1_block2,#swiper2_block2,#swiper3_block2,#swiper4_block2{
    top: 100.9%;
    left: 51.8%;
    width: 50%;
}
#swiper1_lx,#swiper2_lx,#swiper3_lx,#swiper4_lx{
    width: 50%;
    top: -48%;
    left: 101.5%;
}
.firstPage{
    left: 2% !important;
}


.swiper-button-prev{
    /*background-size: 200% !important;*/
    /*background-position:0 !important;*/
    width: 35px !important;
    height: 38px !important;
    background-size: 21px 23px !important;
    background-color: rgba(0,0,0,0.5) !important;
    right: 10px !important;
    left: auto !important;
    margin-top: 27px !important;
}

.swiper-button-next{
    /*background-size: 200% !important;*/
    /*background-position: 100% !important;*/
    width: 35px !important;
    height: 38px !important;
    background-size: 21px 23px !important;
    background-color: rgba(9,161,215,1) !important;
}

